
body {
    display: flex;
    gap: 5px;
}

#first {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    background-color: aqua;
}

#second {
    width: 300px;
    height: 400px;
    border: 1px solid #000;
    background-color:antiquewhite;
}

img{
    width: 200px;
    height: 200px;
}